:root {
	--pretendo-static-background: url("https://i.imgur.com/ToZwgpZ.png");
}
/* Background Image */
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt {
	position: absolute;
    top: 0;
    background-image: var(--pretendo-static-background);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
    display: none !important;
  }
  .gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt > * {
      display: none;
  }
